<h1>Solicitação para alteração de senha</h1>
<p>
  Olá {{ user.nmPessoa }}, vimos que você solicitou a alteração da sua senha registrada para o email
  {{ user.email }}.
</p>

<p>
  Para alterar a senha clique no link a seguir
<a href="http://34.95.134.128/usuario/alterarsenha/{{token.token}}">clique aqui</a>
</p>

<p>
  Se não foi você quem solicitou, recomendamos que você altere sua senha.
</p>
